/* 헤더 기본 설정 */
#header-placeholder {
    z-index: 10; /* 헤더가 항상 최상단에 있도록 설정 */
    position: relative;
}
#section {
    max-width: 1410px;
    width: 92%;
    margin: 0 auto;
}
/* .section1 스타일 */
.inner .section1 {
    padding: 170px 0 0;
    position: relative;
}

.inner .section1 .banner_wrap {
    position: relative; /* 자식 요소(.show)를 절대 위치로 배치할 기준 */
    display: inline-block;
    width: 100%;
}

.inner .section1 .banner_wrap .banner {
    width: 100%;
    display: block;
}

.inner .section1 .banner_wrap .show {
    position: absolute;
    bottom: 10%;  /* 이미지 중앙 정렬 */
    left: 10%;
    background: var(--main-pink1); /* 버튼 색상 */
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    transition: 0.3s;
}

.inner .section1 .banner_wrap .show:hover {
    background: var(--main-pink2); 
    color: #fff;
}

/* .section2 스타일 */
.section2 {
    padding: 100px 0;
}

.section2 .categorys {
    display: flex;
}
.section2 .categorys .category{
    width: calc(100% / 6);
}
.section2 .categorys .category a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.section2 .categorys .category a img{
    width: 100%
}
.section3 {
    width: 92% !important;
    max-width: 1700px !important;
    margin: 0 auto;
}
h2{
    max-width: 1410px !important;
    margin: 0 auto;
    font-size: 33px;
    font-weight: 800;
}
.section3 .swiper-wrapper {
    padding: 50px 0 80px 0;
}
/* Swiper 기본 내비게이션 버튼 숨김 */
.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px !important;
    height: 50px !important;
    background-size: 80% !important; /* 이미지 크기 조절 */
    background-position: center;
    background-repeat: no-repeat;
    background-color: white; /* 버튼 배경색 */
    border-radius: 50%; /* 동그란 모양 */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
    cursor: pointer;
    z-index: 10;
}

/* 이전 버튼 (왼쪽) */
.swiper-button-prev {
    background-image: url("../img/prev.svg");
}

/* 다음 버튼 (오른쪽) */
.swiper-button-next {
    background-image: url("../img/next.svg");
}
.swiper-button-next:after, .swiper-button-prev:after {
    display: none;
}
.swiper-button-prev{
    right: auto;
}
/* .swiper-button-next, .swiper-button-prev {
    color: unset !important;
} */
.swiper-pagination-bullet-active {
    background: var(--main-black) !important;
}
.section3 .swiper-wrapper .swiper-slide {
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    align-items: center;
    width: 100%;
}

.section3 .swiper-wrapper .swiper-slide .product_wrap {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: calc(100% - 0px); /* 좌우 여백 고려 */
    max-width: 1410px;
    margin: 0 auto; /* 중앙 정렬 */
}

.section3 .swiper-wrapper .swiper-slide .product {
    flex: 1 1 calc(25% - 30px); /* 4개씩 균등 분배 */
    max-width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section3 .swiper-wrapper .swiper-slide .product_info{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
}
.section3 .swiper-wrapper .swiper-slide .product_img{
    width: auto;
    object-fit: contain;
    background: var(--main-gray1);
}
.section4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
    padding: 100px 0;
}
.section4 .bold {
    font-size: 38px;
    font-weight: 800;
    /* color: var(--main-black); */
    color: black;
    margin-bottom: 25px;
    display: block;
    line-height: 1.2;
}
.section4 .description {
    font-size: 14px;
    line-height: 1.5;
}
.section4 .right .more {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-black);
    color: #fff;
    padding: 15px 25px;
    transition: 0.3s;
    font-size: 15px;
}
.section4 .right .more:hover {
    background: var(--main-pink1); 
    color: var(--main-black);
}
.section4 .swiper-wrapper {
    padding: 50px 0;
}
.section5 {
    background-color: var(--main-gray1);

}
.section5 .swiper-slide {
    text-align: center;
    padding: 50px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section5 .swiper-slide img{
    width: 30%;
    margin-bottom: 15px;
}
.section5 .swiper-slide span{
    margin-bottom: 20px;
}
.section5 .swiper-slide .swiper-pagination {
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
}
.section6 {
    padding: 100px 0;
 
}
.section6 h2 {
    text-align: center;
    display: block;
}
.section6 .view_box {
    padding: 50px ;
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: var(--main-gray1);
}
.section6 .view_box img{
    width: 50px;
    height: 50px;
}
.section6 p {
    color: var(--sub-gray1);
}
/* 화면 크기 1000px 이하에서 적용되는 스타일 */
@media screen and (max-width: 1000px) {

    /* 헤더 스타일 */
    .head_top {
        padding: 8px;
        height: 30px;
    }
    .head_top .notice_wrap .notice_item {
        font-size: 12px;
    }

    /* Swiper 컨테이너 */
    .swiper-container {
        min-height: auto;
    }
    .swiper-container .swiper-wrapper .swiper-slide .banner_img_mo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
    }
    .swiper-container .swiper-wrapper .swiper-slide .banner_img {
        display: none;
    }
    .swiper-container .swiper-wrapper .swiper-slide .banner_text .item_title {
        font-size: 12px;
    }
    .swiper-pagination.swiper-pagination-dots {
        bottom: 5% !important;
    }
    .swiper-pagination.swiper-pagination-dots .swiper-pagination-bullet {
        width: 45px;
    }

    /* 숫자 페이지네이션 */
    .swiper-pagination.swiper-pagination-fraction {
        bottom: 5% !important;
    }
    .swiper-pagination.swiper-pagination-fraction.swiper-pagination-horizontal {
        font-size: 20px;
    }
    .swiper-pagination-current, .swiper-pagination-total {
        font-size: 20px;
    }

    /* Swiper 버튼 숨기기 */
    .swiper-container .swiper-button-next .banner_arrow, 
    .swiper-container .swiper-button-prev .banner_arrow {
        display: none;
    }

    /* section1 스타일 */
    .section1 .inner .title {
        font-size: 21px;
    }
    .section1 .inner .more {
        font-size: 15px;
        gap: 5px;
    }
    .section1 .top .more .more_arrow, .section4 .top .more .more_arrow, .section5 .top .more .more_arrow {
        width: 15px;
        height: 15px;
    }
    .section1 .inner {
        overflow: hidden;
        width: 90%;
        max-width: 100%;
        padding: 50px 0;
    }
    .section1 .product_wrap {
        display: flex;
        gap: 10px;
        margin-top: 20px;
        transition: transform 0.5s ease-in-out;
        align-items: flex-start;
    }
    .section1 .product_wrap .product_list {
        flex: 0 0 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section1 .product_wrap .in-view {
        opacity: 1;
        transition: opacity 1s ease;
    }
    .section1 .product_wrap .product_list .product .product_name {
        font-size: 13px;
        text-align: left;
    }
    .section1 .product_wrap .product_list .product .product_description {
        font-size: 11px;
        margin-bottom: 10px;
        text-align: left;
        padding-right: 5px;
    }
    .section1 .product_wrap .product_list .product .product_price {
        font-size: 12px;
    }

    /* section2 스타일 */
    .section2 .left {
        flex: 1;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }
    .section2 .inner_box > div {
        flex-direction: column;
    }
    .section2 .left .left_iframe {
        padding-bottom: 56.2%;
    }
    .section2 .left iframe {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .section2 .right {
        padding: 60px 0;
    }
    .section2 .right .right_top {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .section2 .right .right_bottom .right_text {
        display: none;
    }
    .section2 .right .right_bottom .right_text_mo {
        display: block;
        font-size: 13px;
    }
    .section2 .right .right_bottom a span {
        font-size: 13px;
    }
    .section2 .right .right_bottom a {
        margin-top: 30px;
    }

    /* section3 스타일 */
    .section3 .inline_list {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        max-width: 100%;
        margin: 0 auto;
        padding: 80px 0;
        gap: 40px;
    }
    .section3 .inline_list li {
        width: calc(50% - 20px);
    }
    .section3 .inline_list li a .icon {
        width: 60px;
        margin-bottom: 23px;
    }
    .section3 .inline_list li a .bold {
        font-size: 16px;
        margin-bottom: 8px;
    }
    .section3 .inline_list li a .text {
        font-size: 13px;
    }

    /* section4 스타일 */
    .section4 {
        padding: 70px 0 77px;
        overflow-x: hidden;
    }

    /* section5 스타일 */
    .section5 {
        padding: 70px 0 50px;
        overflow-x: hidden;
    }

    .section4 .inner .title, .section5 .inner .title {
        font-size: 21px;
    }
    .section4 .inner .more, .section5 .inner .more {
        font-size: 15px;
        gap: 5px;
    }
    .section5 .inner .ment {
        padding: 77px 0 75px;
        font-size: 16px;
    }
}
